.header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: white;
  z-index: 100;
  box-shadow: 0px 5px 16px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
}

.header__input {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-left: 10px;
  background-color: #eff2f5;
  border-radius: 80px;
}

.header__left > img {
  height: 35px;
}

.header__info > Avatar {
  height: 25px;
}

.header__input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.header__middle > header__option {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.header__option > .MuiSvgIcon-root {
  color: gray;
}

.header__option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}

.header__option:hover {
  background-color: #eff2f0;
  border-radius: 10px;
  align-items: center;
  padding: 0 20px;
  border-bottom: none;
}

.header__option {
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
}

.header__middle {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
}

.header__info > h4 {
  margin-left: 10px;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  justify-content: space-between;
}

.header__option--active {
  border-bottom: 4px solid #2e81f4;

}

