.messageSender__top  {
  padding: 10px;
  display: flex;
  border-bottom: 1px solid #eff2f5;
}

.messageSender {
  padding: 10px;
  margin-left: 10px;
  margin-top: 30px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
  border-radius: 15px;
}

.messageSender__bottom {
  display: flex;
  justify-content: space-evenly;
}

.messageSender__option {
  display: flex;
  padding: 20px;
  align-items: 5px;
  color:gray;
  margin: 10px;
}

.messageSender__option > h3 {
  margin-left: 10px;
}

.messageSender__top > form {
  flex: 1;
  display: flex;
}
.messageSender__top > form > input {
  outline-width: 0px;
  border: none;
  padding: 5px 20px;
  margin: 0 10px;
  border-radius: 999px;
  background-color: #eff2f5;
}

.messageSender__top > form > button {
  display: none;
}

.messageSender__input {
  flex: 1;
}