.content__middle {
  margin: auto;
  max-width: 500px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  flex-direction: column;
}
.avatar__details {
  align-items: center;
}


.page {
  background-color: white;
  

  
}

.fb__icon {
  box-sizing: border-box;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  margin: auto;
  display: block;
}

.header {
  display: block;
}