.content__middle {
  margin: auto;
  max-width: 600px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  flex-direction: column;
}
.avatar__details {
  align-items: center;
  box-shadow: 0px 15px 16px -9px rgba(0, 0, 0, 0.75);
}

.page {
  background-color: white;
}

.fb__icon {
  box-sizing: border-box;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  margin: auto;
  display: block;
}

.header {
  display: block;
}
